/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
nav button {display: none;}
nav ul.hide {display: block;}
nav ul {margin-left: 2%;}
nav ul li {
    float: left;
}
nav ul li a {border: none;
border-right: 1px solid rgba(175, 175, 175, 0.3);
background-color: rgb(175, 175, 175);
    color: #000;
padding: .8rem 1rem;
}
.row {
  display: flex;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: left;
  flex: 50%;
  width: 100%;
  padding: 1px;
}
/* .column {
  display: flex;
  flex: auto;
    float: left;
    width: 50%;
    padding: 1px;
    flex: 100%;
    background-color: rgb(179, 179, 179);
} */
/*--- main ---*/
.storyGrid {
    display: grid;
    grid-template-columns: 25% 100% 25%;
    grid-template-rows: auto;
}
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  span {
    display: block;
    text-align: center;
    font-size: 4rem;
    max-width: 80rem;
  }
  .teaser, .lead {padding: .5rem 2vw;}
  .teaser img {width: 100%;}
  .lead img {width: 100%;}
  .lead {grid-column: 1 / span 3;}
  .teaser {grid-template-columns: 1fr 1fr 1fr;}
  
  footer {
    background-color: rgb(175, 175, 175);
    text-align: center;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
}
} /*end medium */